.details-page {
  background-color: #1f1f1f;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-left: 10%;
  padding-top: 2.5%;
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #353535;
  border: 4px solid #1ed760;
  border-radius: 40px;
  padding: 12px 24px;
  color: white;
  font-family: "League Spartan";
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.details-card {
  background-color: #353535;
  padding: 48px;
  border-radius: 30px;
  text-align: center;
  max-width: 275px;
}

.details-cover {
  width: 100%;
  border-radius: 10px;
}

.details-name {
  margin-top: 24px;
  margin-bottom: 12px;
  color: white;
  font-size: 42px;
  font-family: "Glacial Indifference";
}

.details-author {
  margin: 12px 0;
  color: white;
  font-size: 20px;
  opacity: 0.8;
  font-family: "Glacial Indifference";
}

.details-info {
  margin: 12px 0;
  color: white;
  font-size: 26px;
  font-family: "Glacial Indifference";
}

.right-bubble {
  position: absolute;
  top: 12.15%;
  right: 10%;
}


.songs-scroll {
  width: 825px;
  max-height: 600px;
  overflow-y: auto;    
  overflow-x: hidden;   
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

