.playlist-card {
  background-color: #353535;
  padding: 24px;
  width: 240px;
  border-radius: 30px;
  text-align: center;
}

.playlist-card-cover {
  width: 100%;
  border-radius: 10px;
}

.playlist-card-name {
  margin-top: 18px;
  margin-bottom: 6px;
  color: white;
  font-size: 36px;
  font-family: "Glacial Indifference";
}

.playlist-card-info {
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: "Glacial Indifference";
}

.playlist-card-author {
  margin: 6px 0;
  color: white;
  font-size: 18px;
  opacity: 0.8;
  font-family: "Glacial Indifference";
}

.playlist-card-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

